= form_for @restaurant do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
      %ul
        - @restaurant.errors.full_messages.each do |message|
          %li= message
  %ul.inputs
    %li
      = f.label :name, "Restaurant name"
      = f.text_field :name
    %li
      = f.label :setting_foodimg, "Restaurant type"
      = f.text_field :setting_foodimg
    %li
      = f.label :cost, "Estimate of cost 1 to 5"
      = f.text_field :cost
    %li
      = f.label :location, "Restaurant address"
      = f.text_field :location
    %li
      = f.label :mood_names, "Moods (enter list and seperate with commas)"
      = f.text_field :mood_names
  .actions
    = f.submit 'Save'
