%h1 Your Restaurants

.moodFoods
  - @restaurants.each do |restaurant|
    %div{:class => "#{restaurant.mood_names}"}
      = link_to "#{restaurant.mood_names} : #{restaurant.name}", restaurant

%br
.actions
  = link_to 'New Restaurant', new_restaurant_path
  .logout= link_to 'Logout', logout_url
