%h1 Your Restaurants

%table

  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td.restaurants= "Restaurant Name: #{restaurant.name}"

      %tr
        %td= link_to 'Show', restaurant
        %td= link_to 'Edit', edit_restaurant_path(restaurant)
        %td= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }

%br
.actions
  = link_to 'New Restaurant', new_restaurant_path
  .logout= link_to 'Logout', logout_url
