%h1 Your Restaurants

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
      %tr
        - if restaurant.mood_names
          - restaurant.mood_names.split(",").each do |mood|
            %td= mood
      %tr
        %td= restaurant.location
        %td= "$"*(restaurant.cost)
        
      %tr
        %td= link_to 'Show', restaurant
        %td= link_to 'Edit', edit_restaurant_path(restaurant)
        %td= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Restaurant', new_restaurant_path
= link_to 'Logout', logout_url
