%p#notice= notice

%article.showview
  %h2= @restaurant.name
  %ul
    %li.cost
      %p= "Cost:"
      %p= "$#{@restaurant.cost}"
    %li.type
      %p= "Food Type:"
      %p= @restaurant.foodtype
    %li.address
      %p= "Address:"
      %p= @restaurant.location
    %li.moods
      %p= "Moods:"
      %p= @restaurant.moods.name
    =image_tag ("/../stockImages/#{@restaurant.foodimage}"), alt: 'Food Type Image'

%footer.actions
  = link_to 'Edit', edit_restaurant_path(@restaurant)
  \|
  = link_to 'Back', restaurants_path
