%h1= @restaurant.name
%article.showview
  %ul
    %li.cost
      %p= "Cost:"
      %p= @restaurant.set_dollar
    %li.type
      %p= "Food Type:"
      %p= @restaurant.foodtype
    %li.address
      %p= "Address:"
      %p= @restaurant.location
    %li.moods
      %p= "Moods:"
      %p
        - if @restaurant.mood_names
          - @restaurant.mood_names.split(",").each do |mood|
            %p= mood
    =image_tag ("/../stockImages/#{@restaurant.foodimage}"), alt: 'Food Type Image'

%footer.actions
  = link_to 'Edit', edit_restaurant_path(@restaurant)
  \|
  = link_to 'Back', restaurants_path

%p#notice= notice
